attrs>=19.1.0
dtw==1.4.0
fastdtw==0.3.4
gdown
gym>=0.17.3
jsonlines
lmdb
msgpack_numpy
networkx
numpy>=1.16.1
pre-commit
torch>=1.6.0
torchvision==0.2.2.post3
tqdm>=4.0.0
tensorflow==1.13.1
tb-nightly
yacs>=0.1.5
Opencv-python>=3.3.0
